{{define "yield"}}
  <div class="">
    <h1>
      {{.Title}}
    </h1>
    <ul>
      {{range .Images}}
        <li class="image is-128x128">
          <img src="{{.Path}}" />
        </li>
      {{end}}
    </ul>
  </div>
{{end}}